doctype html
html
    head
        title 专家信息管理页面
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type='text/javascript' src='/javascripts/jquery-3.2.1.min.js')
        link(rel="stylesheet" type="text/css" href="DataTables-1.10.15/media/css/jquery.dataTables.css")
        link(rel='stylesheet', href='/bootstrap-3.3.7-dist/css/bootstrap.min.css')
        script(src='/bootstrap-3.3.7-dist/js/bootstrap.min.js')
        script(type="text/javascript" charset="utf8" src="DataTables-1.10.15/media/js/jquery.dataTables.js")
    body(style='background-image:url("images/1.jpg");background-repeat:no-repeat;background-attachment:fixed;')
        .container
            .row
                .logo(align='center')
                    img(src='images/1.png' style='margin-top:10px;margin-bottom:40px')
                .col-md-3
                    .panel.panel-default(style='border:1px')
                        .panel-heading(style='background: #0d6aad')
                            h3(align='center' style='color:#ffffff')
                                | 选项
                        .panel-body
                            h4(align='center')
                                | 历史招标信息查询
                            .form-group(style='margin-bottom:40px')
                                button.btn.btn-block.btn-success(data-toggle='modal' data-target='#modal1')
                                    | 查询
                            h4( align ='center')
                                | 专家信息管理
                            .form-group(style='margin-bottom:40px' )
                                button#z1.btn.btn-success.btn-block(type='button')
                                    | 进入
                            h4(align='center')
                                | 登录用户管理
                            .form-group(style='margin-bottom:40px')
                                button#z2.btn.btn-block.btn-success(type='button')
                                    | 进入
                            hr
                            h4(align='center')
                                | 退出登录
                            .form-group(style='margin-bottom:40px')
                                button#z3.btn.btn-block.btn-danger(type='button')
                                    | 退出
                .col-md-9
                    .panel.panel-default(style='border:1px')
                        .panel-heading(style='background:#0d6aad')
                            h3(align='center' , style='color:#ffffff')
                                |抽签页面
                        .panel-body(style='background:#e0e1ea' , align='center')
                            h4
                                |招标项目信息
                            table.table#tb(align='center')
                                thead
                                    tr
                                        th
                                            | 项目名称
                                        th
                                            | 标段
                                        th
                                            | 投标金额
                                tbody
                                    tr
                                        td
                                            | Tencent
                                        td
                                            | 云平台
                                        td
                                            | 1000 万元
                            hr
                            h4
                                | 抽签条件信息
                            table.table#tb1(align='center')
                                thead
                                    tr
                                        th
                                            | 条件
                                        th
                                            | 人数
                                tbody
                                    tr
                                        td
                                            | 科技管理部
                                        td
                                            | 2
                                    tr
                                        td
                                            | 新闻中心
                                        td
                                            | 3
                                    tr
                                        td
                                            | 网络/IT
                                        td
                                            | 2
                                    tr
                                        td
                                            | 音频
                                        td
                                            |1
                            button.btn.btn-block.btn-success
                                |开始抽签
                            hr
                            h4
                                | 抽签结果
                            table.table
                                thead
                                    tr
                                        th
                                            | 专家姓名
                                        th
                                            | 所属单位
                                tbody
                                    tr
            .mode#modal1(tabindex='-1' role='dialog' aria-labelledby="label1"
            aria-hidden="true" class='modal fade' style='width:auto')
                .modal-dialog
                    .modal-content
                        .modal-header
                            h4.modal-title#label1
                                | 历年招标信息
                        .modal-body
                            table.table.table-bordered.table-striped
                                thead
                                    tr
                                        th
                                            | 项目名称
                                        th
                                            | 标段
                                        th
                                            | 投标金额
                                        th
                                            | 详情

                                tbody
                                    tr
                                        td
                                            | tencent
                                        td
                                            | project
                                        td
                                            | 1000万
                                        td
                                            button.btn.btn-sm.btn-success
                                                | 详情
                                    tr
                                        td
                                            | tencent
                                        td
                                            | project
                                        td
                                            | 1000万
                                        td
                                            button.btn.btn-sm.btn-success
                                                | 详情
                                    tr
                                        td
                                            | tencent
                                        td
                                            | project
                                        td
                                            | 1000万
                                        td
                                            button.btn.btn-sm.btn-success
                                                | 详情
                                    tr
                                        td
                                            | tencent
                                        td
                                            | project
                                        td
                                            | 1000万
                                        td
                                            button.btn.btn-sm.btn-success
                                                | 详情

                        .modal-footer
                            button.btn.btn-default(data-dismiss="modal" type='button')
                                | 确认
    script(type='text/javascript').
        $(document).ready(function () {
            $('#z1').click(function () {
                window.location.href='guanli1'
            });
            $('#z2').click(function () {
                window.location.href = 'guanli2'
            });
            $('#z3').click(function () {
                if(confirm('确认退出！')){
                    window.location.href = 'login'

                }
            })
        })