doctype html
html
    head
        title 管理页面
        link(rel='stylesheet', href='/stylesheets/animate.css')
        link(rel='stylesheet', href='/bootstrap-3.3.7-dist/css/bootstrap.min.css')
        script(src='/javascripts/jquery-3.2.1.min.js')
        script(src='/javascripts/vue.js')
        script(src='/bootstrap-3.3.7-dist/js/bootstrap.min.js')
        script(type="text/javascript" charset="utf8" src="DataTables-1.10.15/media/js/jquery.dataTables.js")
    body(style='background-image:url("images/1.jpg");background-repeat:no-repeat;background-attachment:fixed;')
        .container
            .row
                .logo(align='center')
                    img(src='images/1.png' style='margin-top:10px;margin-bottom:40px')
                .col-md-3(class='animated bounceInUp')
                    .panel.panel-default(style='border:1px')
                        .panel-heading(style='background: #0d6aad')
                            h3(align='center' style='color:#ffffff')
                                | 选项
                        .panel-body(style ='background:#e0e1ea position:static')
                            h4(align='center' )
                                | 专家信息管理
                            .form-group(style='margin-bottom:40px')
                                button.btn.btn-block.btn-success(type='button')
                                    | 进入
                            hr
                            h4(align='center' )
                                | 登录用户管理
                            .form-group(style='margin-bottom:40px')
                                button.btn.btn-block.btn-success(type='button')
                                    | 进入
                            hr
                            h4(align='center')
                                | 抽签系统配置
                            .form-group(style='margin-bottom:40px')
                                button.btn.btn-block.btn-success(type='button')
                                    | 进入
                            hr
                            .form-group(style='margin-bottom:40px')
                                button.btn.btn-block.btn-danger(type='button')
                                    | 退出登陆
                .col-md-9(class='animated bounceInUp')
                    .panel.panel-default(style='border:1px')
                        .panel-heading(style='background:#0d6aad')
                            h3(align='center' , style='color:#ffffff')
                                | 抽签页面
                        .panel-body(style='background:#e0e1ea' , align='center')
                            h4
                                | 招标项目信息
                            table.table#tb.a1(align='center')
                                thead
                                    tr
                                        th
                                            | 项目名称
                                        th
                                            | 标段
                                        th
                                            | 投标金额
                                tbody
                                    tr
                                        td
                                            | Tencent
                                        td
                                            | 云平台
                                        td
                                            | 1000 万元
                            hr
                            h4
                                | 抽签条件信息
                            table.table#tb1.a2(align='center' style='display:none')
                                thead
                                    tr
                                        th
                                            | 条件
                                        th
                                            | 人数
                                tbody
                                    tr
                                        td
                                            | 科技管理部
                                        td
                                            | 2
                                    tr
                                        td
                                            | 新闻中心
                                        td
                                            | 3
                                    tr
                                        td
                                            | 网络/IT
                                        td
                                            | 2
                                    tr
                                        td
                                            | 音频
                                        td
                                            | 1
                            button.btn.btn-block.btn-success
                                | 开始抽签
                            hr
                            h4
                                | 抽签结果
                            table.table
                                thead
                                    tr
                                        th
                                            | 专家姓名
                                        th
                                            | 所属单位
                                tbody
                                    tr

    script(type='text/javascript').
        $(document).ready(function () {
            function a() {
                $('.a1').hide()
            };
            function b() {
                $('.a2').show()
            }
            setTimeout(a,2000);
            setTimeout(b,2000)
        })