doctype html
html
    head
        title 管理页面
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/bootstrap-3.3.7-dist/css/bootstrap.min.css')
        script(src='/javascripts/jquery-3.2.1.min.js')
        script(src='/bootstrap-3.3.7-dist/js/bootstrap.min.js')
    body(style='background-image:url("images/1.jpg")')
        .container
            .row
                .col-md-10.col-md-offset-1
                    .panel.panel-default(style='margin-top: 10px;border:1px')
                        .panel-heading(style='background:#0d6aad')
                            h4(align='center', style='color:#ffffff')
                                | 添加专家技能
                        .panel-body(style='background:#e0e1ea', align='center')
                                form(action='expertAbi_add.action', method='post' role='form')
                                    input(type='hidden', name='uid', value='${uid }')
                                    h4
                                        | 专业技能：
                                    select(name='abi' class='form-control' style='width:50%')
                                        option(value='视频') 视频
                                        option(value='音频') 音频
                                        option(value='网络/IT') 网络/IT
                                        option(value='灯光舞美') 灯光舞美
                                        option(value='传输发射') 传输发射
                                    input(type='submit', value='确定' class='btn btn-block btn-success' style='width:40%;margin-top:30px')



